@mixin visual__global {
    background-color: $Quinary;
    border-radius: 10px;
    padding: 2%;
    margin-top: 10%;
    height: 70px;
    width: 85%;
    overflow: hidden;
    display: flex;
}

@mixin hover__global {
    &:hover {
        width: 70%;
        transition: all 1s;
        overflow: visible;
        border-radius: 10px 0 0 10px;

        .bloc__menu--entree-check {
            position: relative;
            transition: all 1s;
            left: 59px;
        }
    }
}

@mixin hover__global-1 {
    &:hover {
        width: 70%;
        transition: all 1s;
        overflow: visible;
        border-radius: 10px 0 0 10px;

        .bloc__menu--entree-check {
            position: relative;
            transition: all 1s;
            left: 53px;
        }
    }
}

@mixin hover__global-2 {
    &:hover {
        width: 70%;
        transition: all 1s;
        overflow: visible;
        border-radius: 10px 0 0 10px;

        .bloc__menu--entree-check {
            position: relative;
            transition: all 1s;
            left: 49px;
        }
    }
}

@mixin hover__global-3 {
    &:hover {
        width: 70%;
        transition: all 1s;
        overflow: visible;
        border-radius: 10px 0 0 10px;

        .bloc__menu--entree-check {
            position: relative;
            transition: all 1s;
            left: 52px;
        }
    }
}

@mixin hover__global-4 {
    &:hover {
        width: 70%;
        transition: all 1s;
        overflow: visible;
        border-radius: 10px 0 0 10px;

        .bloc__menu--entree-check {
            position: relative;
            transition: all 1s;
            left: 55px;
        }
    }
}

@mixin hover__global-5 {
    &:hover {
        width: 70%;
        transition: all 1s;
        overflow: visible;
        border-radius: 10px 0 0 10px;

        .bloc__menu--entree-check {
            position: relative;
            transition: all 1s;
            left: 51px;
        }
    }
}

@mixin margin__bloc {
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
}

@mixin padding__bloc {
    padding-left: 4%;
}

@mixin Margin__bottom {
    margin-bottom: 4%;
}

@mixin global__responsive {
    flex-direction: column;

    .menu__title-2,
    .menu__title-3 {
        margin-top: 10%;
    }

    .bloc__menu-entree {
        width: 100%;

        .bloc__menu--entree-1,
        .bloc__menu--entree-2,
        .bloc__menu--entree-3 {
            margin-top: 2%;
            width: 100%;
            height: 70px;

            &:hover {
                width: 75%;
                .bloc__menu--entree-check {
                    position: relative;
                    transition: all 1s;
                    /*left: 58px;*/
                }
            }
        }
    }

    .bloc__menu-plat {
        width: 100%;

        .bloc__menu--plat-1,
        .bloc__menu--plat-2,
        .bloc__menu--plat-3 {
            margin-top: 2%;
            width: 100%;
            height: 70px;

            &:hover {
                width: 75%;
                .bloc__menu--entree-check {
                    position: relative;
                    transition: all 1s;
                    
        }
    }}
}

    .bloc__menu-dessert {
        width: 100%;

        .bloc__menu--dessert-1,
        .bloc__menu--dessert-2,
        .bloc__menu--dessert-3 {
            margin-top: 2%;
            width: 100%;
            height: 70px;

            &:hover {
                width: 75%;
                .bloc__menu--entree-check {
                    position: relative;
                    transition: all 1s;
                    }
        }
    }
}
}