@charset "UTF-8";
/* Déclaration mixin : @include *mixin name* */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.fa-heart {
  font-size: 1.5rem;
  -webkit-transform: translate(-5px, -60px);
          transform: translate(-5px, -60px);
  margin-left: 85%;
  cursor: pointer;
}

.__solid {
  background: -webkit-linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-transform: translate(-7px, -75px);
          transform: translate(-7px, -75px);
  color: transparent;
  font-size: 1.8rem;
  opacity: 0;
}

.__solid:hover {
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  opacity: 1;
  -webkit-transform: translate(-7px, -87px);
          transform: translate(-7px, -87px);
}

@media only screen and (min-width: 10px) and (max-width: 500px) {
  .fa-heart {
    font-size: 1.5rem;
    -webkit-transform: translate(0px, -60px);
            transform: translate(0px, -60px);
    margin-left: 85%;
    cursor: pointer;
  }
  .__solid {
    background: -webkit-linear-gradient(#FF79DA, #9356DC);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-transform: translate(-2px, -75px);
            transform: translate(-2px, -75px);
    color: transparent;
    font-size: 1.8rem;
    opacity: 0;
  }
  .__solid:hover {
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    opacity: 1;
    -webkit-transform: translate(-2px, -87px);
            transform: translate(-2px, -87px);
  }
}

.bloc__footer {
  background-color: #353535;
  padding: 3%;
  padding-bottom: 4%;
}

.bloc__footer a {
  color: #f6f6f6;
  font-weight: bold;
}

.icons__specs {
  color: #f6f6f6;
  color: #7e7e7e;
  padding-right: 15px;
}

.footer__logo {
  color: #f6f6f6;
  margin-bottom: 2%;
  font-family: 'Shrikhand', italic;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__return {
  margin-left: 10rem;
}

a {
  text-decoration: none;
  color: initial;
}

.header__title {
  width: 100%;
  text-align: center;
  font-family: 'Shrikhand', italic;
}

.header__banner {
  margin-top: 3%;
  width: 100%;
  margin-top: 0;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}

.btn__command {
  margin-top: 15%;
  margin-left: 50%;
  -webkit-box-shadow: 5px 5px 10px -8px #000;
          box-shadow: 5px 5px 10px -8px #000;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #FF79DA), to(#9356DC));
  background: linear-gradient(to bottom, #FF79DA 5%, #9356DC 100%);
  background-color: #FF79DA;
  border-radius: 28px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  color: #f6f6f6;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
}

.btn__command:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #9356DC), to(#FF79DA));
  background: linear-gradient(to bottom, #9356DC 5%, #FF79DA 100%);
  -webkit-box-shadow: 8px 8px 12px -10px #000;
          box-shadow: 8px 8px 12px -10px #000;
  background-color: #9356DC;
  opacity: 0.7;
}

.bloc__page {
  width: 100%;
  margin-top: 35%;
  position: absolute;
  background-color: #eaeaea;
  height: 85%;
  border-radius: 50px 50px 0 0;
}

.bloc__page-title {
  margin-top: 3%;
  height: 50px;
  font-family: 'Shrikhand', italic;
  padding-left: 4%;
}

.fa-heart {
  margin-top: 30px;
}

.__solid {
  -webkit-transform: translate(-7px, -113px);
          transform: translate(-7px, -113px);
}

.__solid:hover {
  -webkit-transform: translate(-7px, -123px);
          transform: translate(-7px, -123px);
}

.bloc__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 30px;
  margin-top: 2%;
}

.bloc__menu p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.bloc__menu .bold {
  font-weight: bold;
}

.bloc__menu .menu__title-1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.bloc__menu .menu__title-1::after {
  content: '';
  display: block;
  width: 30px;
  height: 2px;
  background: #99E2D0;
}

.bloc__menu .menu__title-2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.bloc__menu .menu__title-2::after {
  content: '';
  display: block;
  width: 30px;
  height: 2px;
  background: #99E2D0;
}

.bloc__menu .menu__title-3 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.bloc__menu .menu__title-3::after {
  content: '';
  display: block;
  width: 50px;
  height: 2px;
  background: #99E2D0;
}

.bloc__menu .bloc__menu-entree {
  width: 33%;
  margin-left: -5%;
}

.bloc__menu .bloc__menu--entree-1 {
  background-color: #f6f6f6;
  border-radius: 10px;
  padding: 2%;
  margin-top: 10%;
  height: 70px;
  width: 85%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bloc__menu .bloc__menu--entree-1:hover {
  width: 70%;
  -webkit-transition: all 1s;
  transition: all 1s;
  overflow: visible;
  border-radius: 10px 0 0 10px;
}

.bloc__menu .bloc__menu--entree-1:hover .bloc__menu--entree-check {
  position: relative;
  -webkit-transition: all 1s;
  transition: all 1s;
  left: 59px;
}

.bloc__menu .bloc__menu--entree-2 {
  background-color: #f6f6f6;
  border-radius: 10px;
  padding: 2%;
  margin-top: 10%;
  height: 70px;
  width: 85%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bloc__menu .bloc__menu--entree-2:hover {
  width: 70%;
  -webkit-transition: all 1s;
  transition: all 1s;
  overflow: visible;
  border-radius: 10px 0 0 10px;
}

.bloc__menu .bloc__menu--entree-2:hover .bloc__menu--entree-check {
  position: relative;
  -webkit-transition: all 1s;
  transition: all 1s;
  left: 59px;
}

.bloc__menu .bloc__menu--entree-3 {
  background-color: #f6f6f6;
  border-radius: 10px;
  padding: 2%;
  margin-top: 10%;
  height: 70px;
  width: 85%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bloc__menu .bloc__menu--entree-3:hover {
  width: 70%;
  -webkit-transition: all 1s;
  transition: all 1s;
  overflow: visible;
  border-radius: 10px 0 0 10px;
}

.bloc__menu .bloc__menu--entree-3:hover .bloc__menu--entree-check {
  position: relative;
  -webkit-transition: all 1s;
  transition: all 1s;
  left: 53px;
}

.bloc__menu .bloc__menu-plat {
  width: 33%;
  margin-left: -5%;
}

.bloc__menu .bloc__menu--plat-1 {
  background-color: #f6f6f6;
  border-radius: 10px;
  padding: 2%;
  margin-top: 10%;
  height: 70px;
  width: 85%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bloc__menu .bloc__menu--plat-1:hover {
  width: 70%;
  -webkit-transition: all 1s;
  transition: all 1s;
  overflow: visible;
  border-radius: 10px 0 0 10px;
}

.bloc__menu .bloc__menu--plat-1:hover .bloc__menu--entree-check {
  position: relative;
  -webkit-transition: all 1s;
  transition: all 1s;
  left: 49px;
}

.bloc__menu .bloc__menu--plat-2 {
  background-color: #f6f6f6;
  border-radius: 10px;
  padding: 2%;
  margin-top: 10%;
  height: 70px;
  width: 85%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bloc__menu .bloc__menu--plat-2:hover {
  width: 70%;
  -webkit-transition: all 1s;
  transition: all 1s;
  overflow: visible;
  border-radius: 10px 0 0 10px;
}

.bloc__menu .bloc__menu--plat-2:hover .bloc__menu--entree-check {
  position: relative;
  -webkit-transition: all 1s;
  transition: all 1s;
  left: 52px;
}

.bloc__menu .bloc__menu--plat-3 {
  background-color: #f6f6f6;
  border-radius: 10px;
  padding: 2%;
  margin-top: 10%;
  height: 70px;
  width: 85%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bloc__menu .bloc__menu--plat-3:hover {
  width: 70%;
  -webkit-transition: all 1s;
  transition: all 1s;
  overflow: visible;
  border-radius: 10px 0 0 10px;
}

.bloc__menu .bloc__menu--plat-3:hover .bloc__menu--entree-check {
  position: relative;
  -webkit-transition: all 1s;
  transition: all 1s;
  left: 59px;
}

.bloc__menu .bloc__menu-dessert {
  width: 33%;
  margin-left: -5%;
}

.bloc__menu .bloc__menu--dessert-1 {
  background-color: #f6f6f6;
  border-radius: 10px;
  padding: 2%;
  margin-top: 10%;
  height: 70px;
  width: 85%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bloc__menu .bloc__menu--dessert-1:hover {
  width: 70%;
  -webkit-transition: all 1s;
  transition: all 1s;
  overflow: visible;
  border-radius: 10px 0 0 10px;
}

.bloc__menu .bloc__menu--dessert-1:hover .bloc__menu--entree-check {
  position: relative;
  -webkit-transition: all 1s;
  transition: all 1s;
  left: 59px;
}

.bloc__menu .bloc__menu--dessert-2 {
  background-color: #f6f6f6;
  border-radius: 10px;
  padding: 2%;
  margin-top: 10%;
  height: 70px;
  width: 85%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bloc__menu .bloc__menu--dessert-2:hover {
  width: 70%;
  -webkit-transition: all 1s;
  transition: all 1s;
  overflow: visible;
  border-radius: 10px 0 0 10px;
}

.bloc__menu .bloc__menu--dessert-2:hover .bloc__menu--entree-check {
  position: relative;
  -webkit-transition: all 1s;
  transition: all 1s;
  left: 55px;
}

.bloc__menu .bloc__menu--dessert-3 {
  background-color: #f6f6f6;
  border-radius: 10px;
  padding: 2%;
  margin-top: 10%;
  height: 70px;
  width: 85%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bloc__menu .bloc__menu--dessert-3:hover {
  width: 70%;
  -webkit-transition: all 1s;
  transition: all 1s;
  overflow: visible;
  border-radius: 10px 0 0 10px;
}

.bloc__menu .bloc__menu--dessert-3:hover .bloc__menu--entree-check {
  position: relative;
  -webkit-transition: all 1s;
  transition: all 1s;
  left: 51px;
}

.price {
  margin-right: 3px;
  cursor: pointer;
  font-weight: bold;
  margin-left: auto;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.bloc__menu--entree-check {
  background-color: #99E2D0;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 10px -8px #000;
          box-shadow: 5px 5px 10px -8px #000;
  position: relative;
  left: 60px;
  top: -9px;
  height: 70px;
  width: 50px;
  place-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fa-check-circle {
  color: #f6f6f6;
  font-size: 1.7rem;
}

.bloc__menu--item {
  -webkit-animation: appear 3s 1 normal forwards;
          animation: appear 3s 1 normal forwards;
  -webkit-box-shadow: 5px 5px 10px -8px #000;
          box-shadow: 5px 5px 10px -8px #000;
}

.bloc__menu--item:nth-child(1) {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.bloc__menu--item:nth-child(2) {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.bloc__menu--item:nth-child(3) {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.bloc__menu--item:hover .fa-check-circle {
  animation: check__rotate 1s ease-in-out;
  -webkit-animation: check__rotate 1s ease-in-out;
}

@-webkit-keyframes appear {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes check__rotate {
  0% {
    transform: rotate(-270deg);
    -webkit-transform: rotate(-270deg);
    -moz-transform: rotate(-270deg);
    -ms-transform: rotate(-270deg);
    -o-transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
}

@keyframes check__rotate {
  0% {
    transform: rotate(-270deg);
    -webkit-transform: rotate(-270deg);
    -moz-transform: rotate(-270deg);
    -ms-transform: rotate(-270deg);
    -o-transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
}

.bloc__footer {
  margin-top: 83rem;
}

@media only screen and (max-width: 1004px) {
  .header__return {
    margin-left: 0;
  }
  .header__banner {
    height: auto;
  }
  .__solid {
    -webkit-transform: translate(-3px, -113px);
            transform: translate(-3px, -113px);
  }
  .__solid:hover {
    -webkit-transform: translate(-2px, -123px);
            transform: translate(-2px, -123px);
  }
  .bloc__page {
    height: 135vh;
    margin-top: 50%;
  }
  .bloc__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bloc__menu .menu__title-2,
  .bloc__menu .menu__title-3 {
    margin-top: 10%;
  }
  .bloc__menu .bloc__menu-entree {
    width: 100%;
  }
  .bloc__menu .bloc__menu-entree .bloc__menu--entree-1,
  .bloc__menu .bloc__menu-entree .bloc__menu--entree-2,
  .bloc__menu .bloc__menu-entree .bloc__menu--entree-3 {
    margin-top: 2%;
    width: 100%;
    height: 70px;
  }
  .bloc__menu .bloc__menu-entree .bloc__menu--entree-1:hover,
  .bloc__menu .bloc__menu-entree .bloc__menu--entree-2:hover,
  .bloc__menu .bloc__menu-entree .bloc__menu--entree-3:hover {
    width: 75%;
  }
  .bloc__menu .bloc__menu-entree .bloc__menu--entree-1:hover .bloc__menu--entree-check,
  .bloc__menu .bloc__menu-entree .bloc__menu--entree-2:hover .bloc__menu--entree-check,
  .bloc__menu .bloc__menu-entree .bloc__menu--entree-3:hover .bloc__menu--entree-check {
    position: relative;
    -webkit-transition: all 1s;
    transition: all 1s;
    /*left: 58px;*/
  }
  .bloc__menu .bloc__menu-plat {
    width: 100%;
  }
  .bloc__menu .bloc__menu-plat .bloc__menu--plat-1,
  .bloc__menu .bloc__menu-plat .bloc__menu--plat-2,
  .bloc__menu .bloc__menu-plat .bloc__menu--plat-3 {
    margin-top: 2%;
    width: 100%;
    height: 70px;
  }
  .bloc__menu .bloc__menu-plat .bloc__menu--plat-1:hover,
  .bloc__menu .bloc__menu-plat .bloc__menu--plat-2:hover,
  .bloc__menu .bloc__menu-plat .bloc__menu--plat-3:hover {
    width: 75%;
  }
  .bloc__menu .bloc__menu-plat .bloc__menu--plat-1:hover .bloc__menu--entree-check,
  .bloc__menu .bloc__menu-plat .bloc__menu--plat-2:hover .bloc__menu--entree-check,
  .bloc__menu .bloc__menu-plat .bloc__menu--plat-3:hover .bloc__menu--entree-check {
    position: relative;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .bloc__menu .bloc__menu-dessert {
    width: 100%;
  }
  .bloc__menu .bloc__menu-dessert .bloc__menu--dessert-1,
  .bloc__menu .bloc__menu-dessert .bloc__menu--dessert-2,
  .bloc__menu .bloc__menu-dessert .bloc__menu--dessert-3 {
    margin-top: 2%;
    width: 100%;
    height: 70px;
  }
  .bloc__menu .bloc__menu-dessert .bloc__menu--dessert-1:hover,
  .bloc__menu .bloc__menu-dessert .bloc__menu--dessert-2:hover,
  .bloc__menu .bloc__menu-dessert .bloc__menu--dessert-3:hover {
    width: 75%;
  }
  .bloc__menu .bloc__menu-dessert .bloc__menu--dessert-1:hover .bloc__menu--entree-check,
  .bloc__menu .bloc__menu-dessert .bloc__menu--dessert-2:hover .bloc__menu--entree-check,
  .bloc__menu .bloc__menu-dessert .bloc__menu--dessert-3:hover .bloc__menu--entree-check {
    position: relative;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .btn__command {
    margin-left: 35%;
  }
  .bloc__footer {
    margin-top: 87rem;
  }
}
/*# sourceMappingURL=style.css.map */