@import "mixin.scss";
@import "../Sass/utils/colors";
@import "../Sass/base/normes";
@import "../Sass/base/polices";
@import "../Sass/components/bouton";
@import "../Sass/components/heart";
@import "../Sass/layouts/footer";

.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__return {
  margin-left: 10rem
}

a {
  @include a_vanilla;
}

.header__title {
  width: 100%;
  text-align: center;
  @include Shrikhand;
}

.header__banner {
  width: 100%;
  margin-top: 0;
  max-height: 500px;
  object-fit: cover;
  position: relative;
}

.bloc__page {
  width: 100%;
  position: absolute;
  background-color: $Quaternary;
  border-radius: 50px 50px 0 0;
  margin-top: -50px;
}

.bloc__page-title {
  margin-top: 3%;
  height: 50px;
  @include Shrikhand;
  @include padding__bloc;
}

.fa-heart {
  margin-top: 30px;
}

.__solid {
  transform: translate(-7px, -113px);

  &:hover {
    transform: translate(-7px, -123px);
  }
}

.bloc__menu {
  max-width: 100%;
  display: flex;
  margin-left: 30px;
  margin-top: 2%;

  p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .bold {
    font-weight: bold;
  }

  .menu__title-1 {
    width: fit-content;
    height: fit-content;

    &::after {
      content: '';
      display: block;
      width: 30px;
      height: 2px;
      background: $Tertiary;
    }
  }

  .menu__title-2 {
    width: fit-content;
    height: fit-content;

    &::after {
      content: '';
      display: block;
      width: 30px;
      height: 2px;
      background: $Tertiary;
    }
  }

  .menu__title-3 {
    width: fit-content;
    height: fit-content;

    &::after {
      content: '';
      display: block;
      width: 50px;
      height: 2px;
      background: $Tertiary;
    }
  }

  .bloc__menu-entree,
  .bloc__menu-plat,
  .bloc__menu-dessert {
    width: 33%;
    margin-left: -5%;
  }

  .bloc__menu-plat {
    margin-left: -60px;
  }

  .bloc__menu-dessert {
    margin-left: -92px;
  }

  .bloc__menu--item {
    @include visual__global;
    @include hover__global;
  }

}

.price {
  margin-right: 3px;
  cursor: pointer;
  font-weight: bold;
  margin-left: auto;
  align-self: flex-end;
}

.fa-check-circle {
  color: $Quinary;
  font-size: 1.7rem;
}

@keyframes appear {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100px);
    opacity: 0;
  }
}

.btn__command {
  margin-top: 6%;
  margin-left: 50%;
  margin-bottom: 10%;
  @include Button__default;

  &:hover {
    background: linear-gradient(to bottom, $Primary 5%, $Secondary 100%);
    box-shadow: 8px 8px 12px -10px $Septanary;
    background-color: $Primary;
    opacity: 0.7;
  }
}

@media screen and (min-width: 280px) and (max-width: 499px) {
  .header__return {
    margin-left: 0;
  }

  .__solid {
    transform: translate(-2px, -113px);

    &:hover {
      transform: translate(-2px, -123px);
    }
  }

  .bloc__menu {
    flex-direction: column;
    margin: 0;

    .menu__title-2,
    .menu__title-3 {
      margin-top: 10%;
    }

    .bloc__menu-entree,
    .bloc__menu-plat,
    .bloc__menu-dessert {
      width: 100%;
      margin: 0;
    }

    .bloc__menu--item {
      width: 100%;
      margin-top: 5%;
      padding: 10px;

      &:hover {

        .bloc__menu--entree-check {
          transform: translate(58px, -10px);
        }
      }
    }

  }

  .btn__command {
    margin-left: 28%;
    margin-bottom: 10%;
  }

}

@media screen and (min-width: 500px) and (max-width: 768px) {
  .header__return {
    margin-left: 0;
  }

  .__solid {
    transform: translate(-2px, -113px);

    &:hover {
      transform: translate(-2px, -123px);
    }
  }

  .bloc__page {
    top: 20em;
    margin-top: 0;
  }

  .bloc__menu {
    flex-direction: column;
    margin: 0;

    .menu__title-2,
    .menu__title-3 {
      margin-top: 10%;
    }

    .bloc__menu-entree,
    .bloc__menu-plat,
    .bloc__menu-dessert {
      width: 100%;
      margin: 0;
    }

    .bloc__menu--item {
      width: 100%;
      margin-top: 5%;
      padding: 10px;

      &:hover {

        .bloc__menu--entree-check {
          transform: translate(58px, -10px);
        }
      }
    }

  }

  .btn__command {
    margin-left: 40%;
    margin-bottom: 10%;
  }

}

/* Medium screen devices (768px and above) */
@media screen and (min-width: 501px) {
  .__solid {
    transform: translate(-7px, -113px);

    &:hover {
      transform: translate(-7px, -123px);
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .bloc__menu {
    .bloc__menu-entree {
      margin-left: -10%;
      margin-top: 3%;
    }

    .bloc__menu-plat,
    .bloc__menu-dessert {
      margin-top: 3%;
    }
  }

  .btn__command {
    margin-left: 45%;
  }
}

/* Extra big screen devices (1200px and above) */
@media screen and (min-width: 1200px) {}