/* Déclaration mixin : @include *mixin name* */

@mixin Shrikhand {
    font-family: 'Shrikhand', italic;
}

@mixin Roboto__bold {
    font-family: 'Roboto', sans-serif;
}

@mixin a_vanilla {
    text-decoration: none;
    color: initial;
}

@mixin Center {
    text-align: center;
}

@mixin Margin {
    margin-left: 15px;
    margin-right: 15px;
}

@mixin Width {
    width: 100%
}

@mixin Weight {
    font-weight: bold;
}

@mixin Margin__tuto {
    margin-top: 0;
    margin-bottom: 15px;
}

@mixin Icons__tuto {
    color: $Octal;
    padding-right: 15px;
}

@mixin Margin_footer {
    padding: 3%;
    padding-bottom: 4%;
    margin-bottom: -4%;
    margin-top: 2%;
}

@mixin Survol {
    &:hover {
        i {
            color: $Primary;
        }

        background-color: rgba(147, 86, 220, 0.15);
    }
}

@mixin Cover {
    object-fit: cover;
}

@mixin Border__radius__top {
    border-radius: 20px 20px 0 0;
}

@mixin Border__radius__bottom {
    border-radius: 0 0 20px 20px;
}

@mixin Pastille {
    position: absolute;
    background-color: #9356DC;
    color: #f6f6f6;
    -webkit-transform: translate(-38px, 2px);
    transform: translate(-40px, -5px);
    border-radius: 50%;
    margin: auto;
    font-size: 10px;
    padding: 2%;
}

@mixin Pastille__desktop {
    position: absolute;
    background-color: #9356DC;
    color: #f6f6f6;
    -webkit-transform: translate(-38px, 2px);
    transform: translate(-45px, -5px);
    border-radius: 50%;
    margin: auto;
    font-size: 10px;
    padding: 10px;
}

@mixin Encoche {
    transform: translate(-25px, 50px);
    border: 1px solid transparent;
    background-color: #99e2d0;
    border-radius: 3px;
    width: fit-content;
    margin-left: auto;

    p {
        color: rgba(0, 135, 102, 255);
        margin-top: 7px;
        margin-bottom: 7px;
        margin-left: 10px;
        margin-right: 10px;
        @include Weight;
    }
}

@mixin Encoche__desktop {
    transform: translate(-40px, 50px);
    border: 1px solid transparent;
    background-color: #99e2d0;
    border-radius: 3px;
    width: fit-content;
    margin-left: auto;

    p {
        color: rgba(0, 135, 102, 255);
        margin-top: 7px;
        margin-bottom: 7px;
        margin-left: 10px;
        margin-right: 10px;
        @include Weight;
    }
}

@mixin Resto__margin {
    margin-top: 5%;
    margin-left: 15%;
    padding-left: 5%;
    padding-top: 2%;
    margin-right: 15%;
}


