@import "Sass/base/normes";
@import "Sass/base/polices";
@import "Sass/components/bouton";
@import "Sass/components/heart";
@import "Sass/components/loader";
@import "Sass/layouts/footer";
@import "Sass/layouts/header";
@import "Sass/pages/tutorial";
@import "Sass/utils/colors";
@import "mixin.scss";

.bloc__loader {
    @include Loader
}

.slogan__subtitle {
    margin-bottom: 2%
}

.btn {
    @include Button__default;
    @include Weight;
    margin-top: 2%;

    &:hover {
        background: linear-gradient(to bottom, $Primary 5%, $Secondary 100%);
        box-shadow: 8px 8px 12px -10px $Septanary;
        background-color: $Primary;
        opacity: 0.7;
    }
}

.bloc__tutorial {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
}

.bloc__resto {
    @include Resto__margin;
    @include Border__radius__top;
    background-color: $Quaternary;

    .resto__title {
        padding: 2%;
    }

    .flex__container-1,
    .flex__container-2 {
        display: flex;
        justify-content: space-evenly;
    }

    img {
        @include Border__radius__top;
        object-fit: cover;
        width: 420px;
        height: 300px;
    }
}

.card__description {
    background-color: $Quinary;
    padding: 5%;
    margin-top: -1.2%;
    box-shadow: 5px 5px 10px -8px $Septanary;
    @include Border__radius__bottom;
}

.weight__description {
    @include Weight;
}

.encoche {
    @include Encoche__desktop;
}

/* For extremely small screen devices (595px and below) */
@media only screen and (min-width: 500px) and (max-width: 768px) {

    .slogan__subtitle {
        margin-bottom: 7%;
    }

    .bloc__tutorial {
        display: flex;
        flex-direction: column;
        margin: 3%;

        .tutorial__step1 {
            margin-top: 2%;
        }

        .tutorial__step1,
        .tutorial__step2,
        .tutorial__step3 {
            margin-bottom: 2%;
        }
    }

    .bloc__resto {
        margin-left: 0;
        width: 100%;

        img {
            width: 100%;
        }
    }

    .flex__container-1,
    .flex__container-2 {
        flex-direction: column;
    }

}

/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) and (max-width: 1205px) {

    .bloc__tutorial {
        display: flex;
        flex-direction: column;
        margin: 3%;

        .tutorial__step1 {
            margin-top: 2%;
        }

        .tutorial__step1,
        .tutorial__step2,
        .tutorial__step3 {
            margin-bottom: 2%;
        }
    }

    .bloc__resto {
        margin-left: 0;
        width: 100%;
    }
}