@import "Sass/base/normes";
@import "Sass/base/polices";
@import "Sass/components/bouton";
@import "Sass/components/heart";
@import "Sass/components/loader";
@import "Sass/layouts/footer";
@import "Sass/layouts/header";
@import "Sass/pages/tutorial";
@import "Sass/utils/colors";
@import "mixin.scss";


@media only screen and (min-width: 700px){

.bloc__loader{
    @include Loader
}

.btn {
    @include Button__default;
    @include Weight;
    margin-top: 2%;

    &:hover {
        background: linear-gradient(to bottom, $Primary 5%, $Secondary 100%);
        box-shadow: 8px 8px 12px -10px $Septanary;
        background-color: $Primary;
        opacity: 0.7;
    }
}
.bloc__resto {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 1fr 1fr;
    gap: 0px 0px;
    margin-top: 5%;
    grid-area: 1 / 1 / 4 / 3;
    margin-left: 15%;
    padding-left: 5%;
    padding-top: 2%;
    margin-right: 15%;
    background-color: $Quaternary;

    img {
        height: 200px;
        width: 373px;
        @include Cover;
        @include Border__radius__top
    }

    .card__description {
        background-color: $Quinary;
        padding: 5%;
        margin-top: -1.2%;
        box-shadow: 5px 5px 10px -8px $Septanary;
        width: 79.6%;
        @include Border__radius__bottom;
    }

    .weight__description {
        @include Weight;
    }
}

.encoche {
    @include Encoche__desktop;
}

.__position {
    transform: translate(-150px, 50px)
}

.resto__title {
    grid-area: 1 / 1 / 2 / 2;
}

.card__1 {
    grid-area: 2 / 1 / 3 / 2;
}

.card__2 {
    grid-area: 2 / 2 / 3 / 3;
}

.card__3 {
    grid-area: 3 / 1 / 4 / 2;
}

.card__4 {
    grid-area: 3 / 2 / 4 / 3;
}


.bloc__footer {
    background-color: $Senary;
    padding: 2%;


    & a {
        color: $Quinary;
        @include Weight;
    }
}

.icons__specs {
    color: $Quinary;
    @include Icons__tuto;

}

.footer__logo {
    color: $Quinary;
    margin-bottom: 2%;
    @include Shrikhand;
}
}

@media only screen and (min-width: 10px) and (max-width: 500px) {

    .bloc__loader{
        @include Loader
    }

    .header__title,
    .slogan {
        @include Center;
    }

    a {
        @include a_vanilla;
    }

    .header__title {
        @include Shrikhand;
        margin: 0;
        padding: 1rem;
        box-shadow: 0 2px 0 .5px rgba(0, 0, 0, .25);
        position: relative;
    }

    .locate {
        margin: 0;
        margin-left: 0;
        font-size: 1.2em;
        display: flex;
        justify-content: center;
        color: $Senary;
        background-color: $Quaternary;
        font-size: 15px;
        padding: 8px;

        .locate__text {
            margin-left: 10px;
            font-size: 15px;
            @include Weight;
        }
    }

    .slogan {
        background-color: $Quinary;
        height: auto;
        padding: 10px;
        font-size: 22px;

        .slogan__title {
            @include Weight;
        }

    }

    .btn {
        @include Button__default;
        @include Weight;
        margin-bottom: 10%;
        margin-top: 10%;


        &:hover {
            background: linear-gradient(to bottom, $Primary 5%, $Secondary 100%);
            box-shadow: 8px 8px 12px -10px $Septanary;
            background-color: $Primary;
            opacity: 0.7;
        }
    }

    .bloc__tutorial {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-area: 1 / 1 / 5 / 2;

        .tutorial__title {
            grid-area: 1 / 1 / 2 / 2;
            margin-top: 5%;
            width: 50%
        }

        span {
            @include Pastille;
        }

        .icons__specs {
            @include Icons__tuto;
        }

        .tutorial__step1 {
            grid-area: 2 / 1 / 3 / 2;
            @include Margin__tuto;
            @include Button__vanilla;
            @include Margin;
            @include Survol;
        }

        .tutorial__step2 {
            grid-area: 3 / 1 / 4 / 2;
            @include Margin__tuto;
            @include Button__vanilla;
            @include Margin;
            @include Survol;
        }

        .tutorial__step3 {
            grid-area: 4 / 1 / 5 / 2;
            @include Margin__tuto;
            @include Button__vanilla;
            @include Margin;
            @include Survol;
        }

    }

    .encoche {
        @include Encoche;
    }

    .__position {
        transform: translate(-25px, 25px)
    }

    .bloc__resto {
        @include Grid__mobile;

        .resto__title {
            @include Weight;
            @include Margin;
            margin-top: 5%;
            grid-area: resto__title;
        }

        %Top {
            margin-top: -5%;
        }

        .card__1 {
            @include Margin;
            grid-area: card__1;

        }

        .card__2 {
            @include Margin;
            grid-area: card__2;
            @extend %Top;

            img {
                @extend %Top;
            }
        }

        .card__3 {
            @include Margin;
            grid-area: card__3;
            @extend %Top;
        }

        .card__4 {
            @include Margin;
            grid-area: card__4;
            @extend %Top;
        }

        img {
            height: 200px;
            @include Width;
            @include Cover;
            @include Center;
            @include Border__radius__top;
        }

        .card__description {
            background-color: $Quinary;
            padding: 5%;
            margin-top: -1.2%;
            box-shadow: 5px 5px 10px -8px $Septanary;
            width: inherit;
            @include Border__radius__bottom;
        }

        .weight__description {
            @include Weight;
        }
    }

    .bloc__footer {
        background-color: $Senary;
        padding: 4%;
    
    
        & a {
            color: $Quinary;
            @include Weight;
        }
    }
    
    .icons__specs {
        @include Icons__tuto;
    
        &.--footer{
            color: $Quinary !important;
        }
    
    }

    .footer__logo {
        color: $Quinary;
        margin-bottom: 2%;
        @include Shrikhand;
    }

    
}