@mixin visual__global {
    background-color: $Quinary;
    border-radius: 10px;
    padding: 2%;
    margin-top: 10%;
    height: 70px;
    width: 85%;
    overflow: hidden;
    display: flex;
}

@mixin hover__global {
    &:hover {
        width: 70%;
        transition: all 1s;
        overflow: visible;
        border-radius: 10px 0 0 10px;

        .bloc__menu--entree-check {
            position: relative;
            transition: all 1s;
            left: 59px;
        }
    }
}

@mixin hover__global-1 {
    &:hover {
        width: 70%;
        transition: all 1s;
        overflow: visible;
        border-radius: 10px 0 0 10px;

        .bloc__menu--entree-check {
            position: relative;
            transition: all 1s;
            left: 52px;
        }
    }
}
@mixin hover__global-2 {
    &:hover {
        width: 70%;
        transition: all 1s;
        overflow: visible;
        border-radius: 10px 0 0 10px;

        .bloc__menu--entree-check {
            position: relative;
            transition: all 1s;
            left: 54px;
        }
    }
}
@mixin hover__global-3 {
    &:hover {
        width: 70%;
        transition: all 1s;
        overflow: visible;
        border-radius: 10px 0 0 10px;

        .bloc__menu--entree-check {
            position: relative;
            transition: all 1s;
            left: 54px;
        }
    }
}

@mixin margin__bloc {
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
}

@mixin padding__bloc {
    padding-left: 4%;
}

@mixin Margin__bottom {
    margin-bottom: 4%;
}