

@mixin visual__global {
    background-color: $Quinary;
    border-radius: 10px;
    padding: 4%;
    margin-top: 10%;
}

@mixin margin__bloc {
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
}

@mixin padding__bloc {
    padding-left: 4%;
}

@mixin hover__global {
    cursor: pointer;
    margin-right: 4rem;
    transition: all 1s;
    border-radius: 10px 0px 0px 10px;
    
}

@mixin Margin__bottom{
    margin-bottom: 4%;
    
}