@import "mixin.scss";
@import "../Sass/utils/colors";
@import "../Sass/base/normes";
@import "../Sass/base/polices";
@import "../Sass/components/bouton";
@import "../Sass/layouts/footer";

.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__return {
  margin-left: 12rem
}

a{
  @include a_vanilla;
}

.header__title {
  width: 100%;
  text-align: center;
  @include Shrikhand;
}

.header__banner {
  margin-top: 3%;
  width: 100%;
  z-index: 0;
  margin-top: 0;
  height: 80%;
  object-fit: cover;
  position: absolute;
}

.btn__command{
  margin-top: 10%;
  margin-left: 50%;   
  @include Button__default;

  &:hover {
    background: linear-gradient(to bottom, $Primary 5%, $Secondary 100%);
    box-shadow: 8px 8px 12px -10px $Septanary;
    background-color: $Primary;
    opacity: 0.7;
}
}

.bloc__page {
  z-index: 1;
  width: 100%;
  position: absolute;
  transform: translate(0px, 539px);
  background-color: $Quaternary;
  height: 70%;
border-radius: 50px 50px 0 0;}

.bloc__page-title {
  float: left;
  margin-top: 3%;
  @include Shrikhand;
  @include padding__bloc;
}

.bloc__menu {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-area: 1 / 1 / 5 / 4;
  transform: translate(-45px, 80px);
  align-items: center;

  p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .bold{
    font-weight: bold;
  }

  .menu__title-1 {
    grid-area: 1 / 1 / 2 / 2;
    

    &::after{
      content: '';
      display: block;
      width: 30px;
      height: 2px;
      background: $Tertiary;
    }
  }

  .menu__title-2 {
    grid-area: 1 / 2 / 2 / 3;

    &::after{
      content: '';
      display: block;
      width: 30px;
      height: 2px;
      background: $Tertiary;
    }
  }

  .menu__title-3 {
    grid-area: 1 / 3 / 2 / 4;

    &::after{
      content: '';
      display: block;
      width: 50px;
      height: 2px;
      background: $Tertiary;
    }
  }

  .bloc__menu-entree {
    grid-area: 2 / 1 / 5 / 2;
    overflow: hidden;
    width: 85%;

  }

  .bloc__menu--entree-1 {
    grid-area: 2 / 1 / 3 / 2;
    @include visual__global;

    &:hover {
      @include hover__global;
    }

    .bloc__menu--entree-check{
      height: 4.7rem;
    }
  }

  .bloc__menu--entree-2 {
    grid-area: 3 / 1 / 4 / 2;
    @include visual__global;


    &:hover {
      @include hover__global;
    }
  }

  .bloc__menu--entree-3 {
    grid-area: 4 / 1 / 5 / 2;
    @include visual__global;


    &:hover {
      @include hover__global;
    }

    .bloc__menu--entree-check{
      height: 4.7rem;
    }
  }

  .bloc__menu-plat {
    grid-area: 2 / 2 / 5 / 3;
    overflow: hidden;
    width: 85%;
  }

  .bloc__menu--plat-1 {
    grid-area: 2 / 2 / 3 / 3;
    @include visual__global;

    &:hover {
      @include hover__global;

    }

    .bloc__menu--entree-check{
      transform: translate(-29px, -56px);
      height: 4.7rem;
    }

  }
}

.bloc__menu--plat-2 {
  grid-area: 3 / 2 / 4 / 3;
  @include visual__global;

  &:hover {
    @include hover__global;
  }
  .bloc__menu--entree-check{
    height: 4.7rem;
  }
}

.bloc__menu--plat-3 {
  grid-area: 4 / 2 / 5 / 3;
  @include visual__global;

  &:hover {
    @include hover__global;
  }
  .bloc__menu--entree-check{
    transform: translate(-29px, -56px);
    height: 4.7rem;
  }
  
}

.bloc__menu-dessert {
  grid-area: 2 / 3 / 5 / 4;
  overflow: hidden;
  width: 85%;
}

.bloc__menu--dessert-1 {
  grid-area: 2 / 3 / 3 / 4;
  @include visual__global;

  &:hover {
    @include hover__global;
  }

  .bloc__menu--entree-check{
    height: 4.7rem;
  }
}

.bloc__menu--dessert-2 {
  grid-area: 3 / 3 / 4 / 4;
  @include visual__global;

  &:hover {
    @include hover__global;
  }

  .bloc__menu--entree-check{
    transform: translate(-29px, -56px);
    height: 4.69rem;
  }
}

.bloc__menu--dessert-3 {
  grid-area: 4 / 3 / 5 / 4;
  @include visual__global;

  &:hover {
    @include hover__global;
  }
  .bloc__menu--entree-check{
    height: 4.7rem;
  }
}

.price {
  float: right;
  margin-right: 3px;
  cursor: pointer;
  transform: translate(12px, -5px);
  font-weight: bold;
}

.bloc__menu--entree-check {
  background-color: #99E2D0;
  height: 4.76rem;
  width: 3rem;
  float: right;
  margin-right: -7.8rem;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  transform: translate(-29px, -57px);
  display: grid;
  place-items: center;
  box-shadow: 5px 5px 10px -8px $Septanary;
}
    
  .fa-check-circle{
    color: $Quinary;
    font-size: 1.7rem;
  }


.bloc__menu--item{
animation: appear 3s 1 normal forwards;
box-shadow: 5px 5px 10px -8px $Septanary;

$items: 3;
@for $i from 1 through $items {
  &:nth-child(#{$i}) {
    animation-delay: 200ms * $i;
  }
}
 &:hover{
  .fa-check-circle{
    animation: check__rotate 1s ease-in-out;
    -webkit-animation: check__rotate 1s ease-in-out;
  }
 }}

@keyframes appear {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes check__rotate {
0% {
    transform: rotate(-270deg);
    -webkit-transform: rotate(-270deg);
    -moz-transform: rotate(-270deg);
    -ms-transform: rotate(-270deg);
    -o-transform: rotate(-270deg);
}

100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}
}

.bloc__footer{
  @include Footer;
  margin-top: 88%;
}

@media only screen and (min-width: 360px) and (max-width: 900px) {

  .header__menu {
    transform: translate(-95px, 0px);
  }

  .header__banner {
  height: auto;
  }

  .bloc__page{
    height: 103rem;
    transform: translate(0px, 291px);
  }

  .bloc__menu{
  display: block;
  margin-left: 12%;
  margin-top: 12%;
}
.menu__title-1{
  @include Margin__bottom
}
.menu__title-2{
  @include Margin__bottom
}
.menu__title-3{
  @include Margin__bottom
}

.bloc__menu-entree{
  width: 29rem !important;
}

.bloc__menu-plat{
  width: 29rem !important;
}

.bloc__menu-dessert{
  width: 29rem !important;
}

.bloc__footer{
  margin-top: 120rem;
}

.btn__command{
  margin-left: 35%;
  transform: translate(10px, 27px);
}
}