.fa-heart {
    font-size: 1.5rem;
    transform: translate(-5px, -60px);
    margin-left: 85%;
    cursor: pointer;
}

.__solid {
    background: -moz-linear-gradient(#FF79DA, #9356DC);
    background: -webkit-linear-gradient(#FF79DA, #9356DC);
    -webkit-background-clip: text;
    background-clip: text;
    transform: translate(-7px, -75px);
    color: transparent;
    font-size: 1.8rem;
    opacity: 0;


    &:hover {
        transition: all 500ms linear;
        opacity: 1;
        transform: translate(-8px, -86px);
    }
}

@media only screen and (min-width: 10px) and (max-width: 500px) {
    .fa-heart {
        font-size: 1.5rem;
        transform: translate(-0px, -60px);
        margin-left: 85%;
        cursor: pointer;
    }
    
    .__solid{
        background: -moz-linear-gradient(#FF79DA, #9356DC);
        background: -webkit-linear-gradient(#FF79DA, #9356DC);
        -webkit-background-clip: text;
        background-clip: text;
        transform: translate(-2px, -75px);
        color: transparent;
        font-size: 1.8rem;
        opacity: 0;
    
    
        &:hover {
            transition: all 500ms linear;
            opacity: 1;
            transform: translate(-2px, -87px);
        }
    }
    

}