@import "../../mixin.scss";

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  body {
    @include Width;
    @include Roboto__bold;
}