.bloc__tutorial{
    margin-top: 5%;

.tutorial__step1 {

    @include Survol;
    @include Button__vanilla;

    span {
        @include Pastille__desktop;
    }
}

.tutorial__step2 {
    @include Survol;

    span {
        @include Pastille__desktop;
    }

    @include Button__vanilla;
}

.tutorial__step3 {
    @include Survol;

    span {
        @include Pastille__desktop;

    }

    @include Button__vanilla;
}
}

.icons__specs {
    @include Icons__tuto;
}