@mixin visual__global {
    background-color: $Quinary;
    border-radius: 10px;
    padding: 2%;
    margin-top: 10%;
    height: 70px;
    width: 85%;
    overflow: hidden;
    display: flex;

    
.bloc__menu--entree-check {
    background-color: #99E2D0;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    box-shadow: 5px 5px 10px -8px $Septanary;
    position: relative;
    left: 61px;
    top: -11px;
    height: 70px;
    width: 50px;
    place-items: center;
    display: flex;
    justify-content: center;
  }
  
  .fa-check-circle {
    color: $Quinary;
    font-size: 1.7rem;
  }
  
  
  .bloc__menu--item {
    animation: appear 3s 1 normal forwards;
    box-shadow: 5px 5px 10px -8px $Septanary;
  
    $items: 3;
  
    @for $i from 1 through $items {
      &:nth-child(#{$i}) {
        animation-delay: 200ms * $i;
      }
    }
  
    &:hover {
      .fa-check-circle {
        animation: check__rotate 1s ease-in-out;
        -webkit-animation: check__rotate 1s ease-in-out;
      }
    }
}
}

@mixin hover__global {
    &:hover {
        width: 70%;
        transition: all 1s;
        overflow: visible;
        border-radius: 10px 0 0 10px;

        .bloc__menu--entree-check {
            position: relative;
            transition: all 1s;
            left: 58px;
        }
    }
}

@mixin margin__bloc {
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
}

@mixin padding__bloc {
    padding-left: 4%;
}

@mixin Margin__bottom {
    margin-bottom: 4%;
}

@mixin global__responsive {
    flex-direction: column;

    .menu__title-2,
    .menu__title-3 {
        margin-top: 10%;
    }

        .bloc__menu--item {
            margin-top: 2%;
            width: 100%;
            height: 70px;

            &:hover {
                width: 75%;

                .bloc__menu--entree-check {
                    position: relative;
                    transition: all 1s;
                    /*left: 58px;*/
                }
            }
        }
    }