@import "../utils/colors";

.bloc__footer {
    background-color: $Senary;
    @include Margin_footer;


    & a {
        color: $Quinary;
        @include Weight;
    }
}

.icons__specs {
    color: $Quinary;
    @include Icons__tuto;

}

.footer__logo {
    color: $Quinary;
    margin-bottom: 2%;
    @include Shrikhand;
}